<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://pixabay.com/get/g41b7b54d5c8c4cb803cee8e0bd23f7944191a80d731bf1566fb5974eaf1e2809b4d06f1e6db5f5047b99f6b962c51476f2c86394b58d56c045c9da5dd1c395f2d0f5b8666f8feb3cc4da17fa1d99ffae_1920.jpg"
      cardTitle="DC COMICS SEGUE COM POPULARIDADE"
      cardDescription="As letras vêm de Detective Comics e a história começou em 1934, com a fundação da empresa National Allied Publications, que publicou uma revista com o nome de Detective Comics e, mais tarde, passou a ser conhecida como DC Comics."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Superman é o herói mais aclamado pelos fãs"
      photoCover="https://pixabay.com/get/g5ad755a23f417180a5aa59e76e096dd8818b5a70b481452796606b31a77a8f8d93d8bf0ddf578f9d276697bcd10deb320d3b8838ccfec2c511341769cca91d1a6340e824acc49dca61fc850e0fbebd2d_1920.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Flash é considerado um dos heróis mais poderosos do universo DC"
      photoCover="https://pixabay.com/get/g0f6027a93fb3c10a3e9b2508d7704c51c304f618c59e702aa941c2d223c84f357b97cc0f65bdcb609a605ed66b6c371db7360a22f2328a47825918eda48a684693041573c43b4053809f0baf09c79b54_1920.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Considerada um símbolo de representatividade para as mulheres, ela é forte e poderosa!"
      photoCover="https://pixabay.com/get/g0d8a631fe516c1f1d34a56b9b97b390733ec94c703f0e3a7629d56a24a196ca45220be8f199785f5e51db5c4231cdfec634c282f4f7d5ea42accd525f76346776a124d8cf2f77864686539c834a401c6_1920.png"
    >
    </app-small-card>
  </div>
</div>
